#main-container {
    display: grid;
    justify-content: center;
}

#container {
    display: grid;
    margin: auto;
    justify-content: center;
    width: 550px;
    height: 550px;
    border: 1px solid black;
}

#btnBar {
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px;
}

#clearBtn {
    display: grid;
    justify-self: center;
}

.boxes {
    width: 100%;
    height: 100%;
    justify-self: center;
}